/* --------
IMPORTS
-----------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('nunito.css');

/* ------------
NUNITO FONTS
---------------
*/

.text-nunito-Regular {
  font-family: 'NunitoRegular'
}

.text-nunito-italic {
  font-family: 'NunitoItalic'
}

.text-nunito-light {
  font-family: 'NunitoLight'
}

.text-nunito-semiBold {
  font-family: 'NunitoSemiBold'
}

.text-nunito-bold {
  font-family: 'NunitoBold'
}

.text-nunito-black {
  font-family: 'NunitoBlack'
}

.text-nunito-extraBold {
  font-family: 'NunitoExtraBold'
}

.text-nunito-extraLight {
  font-family: 'NunitoExtraLight'
}

/* ------------
GENERAL STUFF
---------------
*/

body {
  font-family: 'NunitoRegular', sans-serif;
}


.login-title p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title p:after, .login-title p:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #fa510f;
  margin: 0 10px;
}

.selected {
  border-bottom: 1px solid #fa510f;
  font-family: 'NunitoBold', sans-serif;
  color: #fa510f;
}

.primary.svg-loader{
  display:flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.primary .loader-svg{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  fill: none;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke: rgb(250, 81, 15);
}
.primary .loader-svg.bg{
  stroke-width: 8px;
  stroke: rgb(252, 186, 160);
}

.primary .animate{
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}

.secondary.svg-loader{
  display:flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.secondary .loader-svg{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  fill: none;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke: rgb(255, 255, 255);
}
.secondary .loader-svg.bg{
  stroke-width: 8px;
  stroke: transparent;
}

.secondary .animate{
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}

@keyframes fill-animation{
  0%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}