@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('nunito.css');




body {
  font-family: 'NunitoRegular', sans-serif;
}

.text-nunito-Regular {
  font-family: 'NunitoRegular'
}

.text-nunito-italic {
  font-family: 'NunitoItalic'
}

.text-nunito-light {
  font-family: 'NunitoLight'
}

.text-nunito-semiBold {
  font-family: 'NunitoSemiBold'
}

.text-nunito-bold {
  font-family: 'NunitoBold'
}

.text-nunito-black {
  font-family: 'NunitoBlack'
}

.text-nunito-extraBold {
  font-family: 'NunitoExtraBold'
}

.text-nunito-extraLight {
  font-family: 'NunitoExtraLight'
}